@media only screen and (max-width: 1050px) {
:root{
    --white: #F7E4CA;
    --black: #352208;
    --purple: #574b88;
    --orange: #6c4c3d;
    --yellow:#efc58a ;

    --radius: 16px;
    --fontSize: 1.05rem;

    font-size: 16px;
}

body{
    width: 100%;
}
#lang_button{
    background-color: var(--white);
    border: dashed 2px var(--orange);
    top: 80vh;
}
nav {
    display: none;
}
/* =================================== HERO */
#about_me{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
#about_me_h2 {
    font-size: 5rem;
    margin: auto;

}
#container_about_me {
    width: 100%;
}
#about_me_paragraph {
    width: 100%;
}
#container_socials{
    margin-top: 3vh;
    width: 100%;
}
/* =================================== SKILLS */

#lists{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}
.bland_container{
    margin-bottom: 4vh;
    position: relative;
    width: 60vw;
    max-width: 100%;
}
.bland_container:nth-child(1){
    align-self: flex-start;
}
.bland_container:nth-child(2){
    align-self: flex-end;
}

/* =================================== EXPERIENCE */
#container_experience{
    width: 100%;
    max-width: 100%;
    margin-top: 4vh;
}
#experience_competence{
    position: relative;
    bottom:1vh;
    left:60%;

    box-shadow: -4px -4px var(--orange);
}
/* =================================== FORMATION */
#formation_card{
    /* width: 100%; */
    padding: 2vh;
}
.formation_info{
    flex-direction: column;
}
.formation_info_date{
    width:fit-content;
    margin-bottom: 1.5vh;
}
/* =================================== PROJECTS */
#projets{
    margin-top: 5vh;
}
.project_card{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
.left_project_card{
    width: 100%;
    margin: 0vh;

}
.right_project_card{
    width: 100%;
    margin: 0vh;
}
#projets img{
    width:100%;
    margin: 1vh;
}
.skill_lists{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#projets ul{
    width: 100%;
}
}

@media only screen and (max-width: 600px){
    #lang_button{
    background-color: var(--white);
    border: dashed 2px var(--orange);
    top: 90vh;
    left: 85vw;
    z-index: 10;
}

.bland_container{
    width: 100%;
}
#experience_h3_stage{
    font-size: 1.5rem;
}
}