:root{
    --color: purple;
    --text: purple;
    --frog: #0e584b; /* #296d66;*/
    --shadow: #0b4c41;/*#07582e;*/
}

body{
    background-color: var(--color); 
    color: var(--text);
    font-family: 'Courier New', Courier, monospace;
}

.box{
    display: flex;
    width: 1350px;
    height:600px;
    align-items: center;
    justify-content: center;

    /* border: pink dashed 2px; */
   
}

.box_in_box{
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px var(--text);
}
p, small{
    align-items: center;
    justify-content: center;
}
button{
    background-color: transparent;
    border: solid 2px var(--text);
    border-radius: 12px;
    color: var(--text);
    padding:10px;
    font-family: 'Courier New', Courier, monospace;
}

#pixel{
    background-color: black;
    width: 20px;
    height: 20px;
    box-shadow: 20px 0  black, 40px 0 black, 60px 0 black, 
                -40px 20px black, -20px 20px black, 0 20px var(--frog), 20px 20px var(--frog), 40px 20px black, 60px 20px var(--frog), 80px 20px black,
                -60px 40px black, -40px 40px var(--shadow), -20px 40px var(--frog), -10px 40px var(--frog), 0px 40px var(--frog), 20px 40px var(--frog), 40px 40px var(--frog), 60px 40px var(--frog), 80px 40px black,
                -80px 60px black, -60px 60px var(--shadow),-40px 60px var(--frog), -20px 60px var(--frog), 0px 60px var(--frog), 20px 60px var(--frog), 40px 60px var(--shadow), 60px 60px black;
   
}

pre{
    font-family: Consolas,"courier new";
    background-color: pink;
    padding: 2px;
    font-size: 105%;
    border-radius: 10px;
    width:400px;
    border: var(--text) 2px solid;
    box-shadow: -5px 5px 50px var(--text), 5px -5px 50px  greenyellow, 0px 0px 20px white;

}

pre:hover{
    animation-name: floating-code;
    animation-duration: 1s;
}

pre:not(:hover){
    transform: translateY(0px);

}

@keyframes floating-code {
    0% {transform: translateY(0);}
    25% {transform: translateY(20px);}
    50% {transform: translateY(20px);}
    75% {transform: translateY(20px);}
    100% {transform: translateY(20px);}
}

/* phone more tiny than puter! */
@media (max-width: 1000px) {
    body {
      background-color: var(--color);
      /* display:flex; */
      font-size: 60px;
      font-family: 'Courier New', Courier, monospace;
    }
    .box{
        display: flex;
        width: 100%;
        height: 1800px;
        align-items: center;
        justify-content: center;
    }
    .box_in_box{
        align-items: center;
        justify-content: center;
        background-color: transparent;
        padding:30px 30px 30px 30px;
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0px 0px 10px 5px var(--text);
    }
    p, small{
        align-items: center;
        justify-content: center;
    }
    button{
        width: max-content;
        font-size: 40px;
    }
}
