:root{
    --white: #FDF5F2;
    --black: #2F100B;
    --purple: #7967BD;
    --orange: #CD785B;
    --yellow: #E5B55B;

    --radius: 16px;
    --fontSize: 1.04rem;
}

.aladin-regular {
    font-family: "Aladin", system-ui;
    font-weight: 400;
    font-style: normal;
}

.roboto-slab-regular {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
    
.roboto-slab-medium {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.libre-barcode-128-regular {
    font-family: "Libre Barcode 128", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.libre-barcode-128-text-regular {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    outline:0;
    border:0;
    border-spacing: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    font-size: var(--fontSize);

    border: 1px dashed var(--orange);
    
}


body{
    background-color: var(--white);
    /* background-image: linear-gradient(var(--purple), var(--white)); */
    /* height: 4000px; */
}

/* =================================================== NAVIGATION */

nav {
    border: 2px solid var(--black);
    border-radius: 16px;
    color: var(--black);
    background-color: var(--white);

    width:90%;
    margin: auto;
    margin-top: 0.5vh;
    padding:0.2%;

    position:sticky;
    z-index: 10;
    top: 0.5vh;

    font-size: var(--fontSize);
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#nav_logo {
    width:50%;
    margin: 0.5%;
}

#nav_gauche {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
#nav_droite {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:60%;
}
/* =================================================== HERO */

#hero {
    width:90%;
    margin:auto;
    height: 90vh;
    background-image: url("../assets/Hero4.0.png");
    background-repeat: no-repeat;
    background-size:cover;

    position:relative;

}

#hero hr{
    height:5vh;
    background-color: var(--black);
    color: var(--black);

    overflow: visible;
    width:110%;

    position:absolute;
    bottom:0;
    left:-5%;
    
}


#hero_h1 {
    width:fit-content;
    color: var(--black);
    z-index: -10;
    font-size: 8rem;

    margin-left:10vw;

    padding: 0;
    line-height: 1;


}

#hero_h1:nth-child(1) {
    margin-top: 5vh;
}

#hero_h1:nth-child(2) {
    margin-left: 15vw;
}

#hero_h1:nth-child(3) {
    margin-left: 30vw;
}

#hero_h1:nth-child(4) {
    margin-left: 40vw;
}

#hero_intro{
    width: 40vw;
    height: 40vh;

    border-radius: var(--radius);
    background-color: var(--orange);
    box-shadow: var(--black) -5px 5px ;

    position: absolute;
    z-index: 1;
    left:5vw;
    top:26vh;

    

}

#hero_socials {
    border-radius: var(--radius);
    background-color: var(--yellow);
    box-shadow: var(--black) 5px -5px ;

    width: fit-content;

    padding: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    position: absolute;
    z-index: 2;
    top:20vh;
    right:20vh;
}

#hero_socials img{
    width:100%;
}
/* =================================================== ABOUT ME */
#about_me{
    height: 100vh;
    width:90%;
    margin:auto;
    height: 90vh;
    position:relative;
}
#about_me_h2 {
    font-size: 3rem;
    color:var(--black);
    position: absolute;

    top:28vh;
    left:15vw;

    z-index: 3;
    width:fit-content;

}

#about_me_paragraph {
    background-color: var(--black);
    color:var(--white);
    font-size: var(--fontSize);

    border: 5px solid var(--yellow) ;
    border-radius: var(--radius);

    width: 35%;
    height:35%;

    padding:2%;

    position: absolute;
    right:5vw;
    top:30vh;

}
#about_me_paragraph p{
    width:100%;
    word-wrap: break-word;
}

#about_me  hr{
    height: 20px;
    background: var(--orange);

    margin-bottom: 1%;

    overflow: visible;
    width:110%;

    position:absolute;
    top:55vh;
    left:-5%;

}

#about_venusaur {
    background-color: var(--orange);
    box-shadow: -10px 10px var(--black);

    width:14%;
    height: 22%;

    position: absolute;
    right:30vw;
    bottom:20vh;
}

#about_me_langue {
    background-color: var(--white);
    color: var(--purple);
    border: 4px solid var(--purple);
    
    width: fit-content;
    padding: 0.5%;

    position: absolute;
    right:15vw;
    bottom:26vh;

}

/* =================================================== COMPETENCES */

#competence{
    width:90%;
    margin:auto;
    height: 75vh;

    position:relative;
}
#competence  hr{
    height: 10vh;
    margin-bottom: 1%;
    overflow: visible;
    width:110%;
    z-index:-1;
    position: absolute;
    left:-5%;

}
#competence_h2{
    color:var(--black);
    font-size: 3rem;
    width: fit-content;

    position: absolute;
    top:5vh;
    left: 5vw;
}

#competence_h2:nth-child(2) {
    position: absolute;
    top:10vh;
    left: 8vw;

    color:var(--white);  
    text-shadow: -0.5px 0.5px 2px var(--black);
    opacity: 0.30;  
}
#competence_h2:nth-child(3) {
    position: absolute;
    top:15vh;
    left: 11vw;
 
    color:var(--white);  
    text-shadow: -0.5px 0.5px 2px var(--black);
    opacity: 0.20;  
}

#competence_h2:nth-child(4) {
    position: absolute;
    top:20vh;
    left:13vw;
 
    color:var(--white);  
    text-shadow: -0.5px 0.5px 2px var(--black);
    opacity: 0.10;  
}

/* #competence_h2:after{
    content: " Compétences Compétences Compétences Compétences";
    color:var(--white);
    text-shadow: -0.5px 0.5px 2px var(--black);
    opacity: 0.24;
} */




#competence_h3_languages{
    color: var(--purple);
    font-size: 2rem;

    width:fit-content;

    position: absolute;
    top:21vh;
    left:16vw;
    z-index: 3;

    text-shadow: -1px 1px var(--black);
}

#competence_card {
    border: var(--purple) 4px solid;
    border-radius: var(--radius);
    background-color: var(--white);

    width:30vw;
    /* padding:0.5%; */

    position: absolute;
    top:25vh;
    left:15vw;

    box-shadow: -10px 10px var(--black);

}
#competence_card li{
    background-color: var(--purple);
}

#competence_h3_outils{
    color: var(--orange);
    font-size: 2rem;

    width:fit-content;

    position: absolute;
    right:23vw;
    top:34vh;
    z-index: 3;

    text-shadow: -1px 1px var(--black);

}

#outils_card {
    border: var(--orange) 4px solid;
    border-radius: var(--radius);
    background-color: var(--white);

    display:flex;
    flex-direction: row;

    width:fit-content;
    /* padding:0.5%; */

    position: absolute;
    right:10vw;
    top:38vh;

    box-shadow: -10px 10px var(--black);
}
#outils_card li{
    background-color: var(--orange);
}

#competence ul {
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: flex-start;
    align-items: center;
    margin:1%;
    margin-top:1%;
}
#competence li{
    color:var(--white);

    border-radius: 10px;

    width: fit-content;

    padding:4%;
    margin:2%;
}


/* =================================================== EXPERIENCE */
#experience {
    height: 100vh;
    width:90%;
    margin:auto;
    height: 75vh;
    background-color: gold;

    position:relative;
}

/* =================================================== FOOTER */
footer {
    border: 2px solid var(--black);
    border-radius: 16px;
    color: var(--black);

    width:90%;
    margin: auto;
    font-size: var(--fontSize);
    padding: 0.8%;
    margin-bottom: 0.5%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
#footer_list {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style: none;
}
#footer_list li{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}