:root{
    --white: #FDF5F2;
    --black: #2F100B;
    --purple: #7967BD;
    --orange: #CD785B;
    --yellow: #E5B55B;

    --radius: 16px;
    --fontSize: 1.04rem;
}

.aladin-regular {
    font-family: "Aladin", system-ui;
    font-weight: 400;
    font-style: normal;
}

.roboto-slab-regular {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
    
.roboto-slab-medium {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.libre-barcode-128-regular {
    font-family: "Libre Barcode 128", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.libre-barcode-128-text-regular {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    outline:0;
    border:0;
    border-spacing: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    font-size: var(--fontSize);

    line-height: 25px;

    /* border: 0.5px dashed var(--purple); */
    
}


body{
    background-color: var(--white);
    /* background-image: linear-gradient(var(--purple), var(--white)); */
    /* height: 4000px; */
}

/* =================================================== NAVIGATION */

nav {
    border: 2px solid var(--black);
    border-radius: 16px;
    color: var(--black);
    background-color: var(--white);

    width:90%;
    margin: auto;
    margin-top: 0.5vh;
    padding:0.2%;

    position:sticky;
    z-index: 10;
    top: 0.5vh;

    font-size: var(--fontSize);
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#nav_logo {
    width:50%;
    margin: 0.5%;
}

#nav_gauche {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
#nav_droite {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:60%;
}
/* =================================================== HERO */

#hero {
    width:90%;
    margin:auto;
    height: 90vh;
    background-image: url("../assets/Hero4.0.png");
    background-repeat: no-repeat;
    background-size:cover;

    position:relative;

}

#hero hr{
    height:5vh;
    background-color: var(--black);
    color: var(--black);

    overflow: visible;
    width:110%;

    position:absolute;
    bottom:0;
    left:-5%;
    
}


#hero_h1 {
    width:fit-content;
    color: var(--black);
    z-index: -10;
    font-size: 8rem;

    margin-left:10vw;

    padding: 0;
    line-height: 1;


}

#hero_h1:nth-child(1) {
    margin-top: 5vh;
}

#hero_h1:nth-child(2) {
    margin-left: 15vw;
}

#hero_h1:nth-child(3) {
    margin-left: 30vw;
}

#hero_h1:nth-child(4) {
    margin-left: 40vw;
}

#hero_intro{
    width: 40vw;
    height: 40vh;

    border-radius: var(--radius);
    background-color: var(--orange);
    box-shadow: var(--black) -5px 5px ;

    position: absolute;
    z-index: 1;
    left:5vw;
    top:26vh;

    

}

#hero_socials {
    border-radius: var(--radius);
    background-color: var(--yellow);
    box-shadow: var(--black) 5px -5px ;

    width: fit-content;

    padding: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    position: absolute;
    z-index: 2;
    top:20vh;
    right:20vh;
}

#hero_socials img{
    width:100%;
}
/* =================================================== ABOUT ME */
#about_me{
    height: 100vh;
    width:90%;
    margin:auto;
    height: 90vh;
    position:relative;
}
#about_me_h2 {
    font-size: 3rem;
    color:var(--black);
    position: absolute;

    top:28vh;
    left:15vw;

    z-index: 3;
    width:fit-content;

}
#container_about_me {
    /* border: solid 9px red; */
    /* background-color: red; */
    width: fit-content;

    position: relative;
    left: 50vw;
    top: 20vh;
}
#about_me_paragraph {
    background-color: var(--white);
    color:var(--black);
    font-size: var(--fontSize);

    border: 10px solid var(--black) ;
    border-radius: var(--radius);

    width: 35vw;
    /* height:30vh; */

    padding:7%;

    position: relative;
}
#about_me_paragraph p{
    width:100%;
    word-wrap: break-word;
}

#about_me  hr{
    height: 20px;
    background: var(--orange);

    margin-bottom: 1%;

    overflow: visible;
    width:110%;

    position:absolute;
    top:40vh;
    left:-5%;
}



#about_me_langue {
    background-color: var(--white);
    color: var(--purple);
    border: 5px solid var(--purple);
    
    width: fit-content;
    padding: 2%;

    position: relative;
    bottom:2vh;
    left:-5vw;
}

/* =================================================== COMPETENCES */

#competence{
    width:90%;
    margin:auto;
    height: 75vh;

    position:relative;
}

#competence  hr{
    height: 10vh;
    margin-bottom: 1%;
    overflow: visible;
    width:110%;
    z-index:-1;
    position: absolute;
    left:-5%;

}
#competence_h2{
    color:var(--black);
    font-size: 3rem;
    width: fit-content;

    position: absolute;
    top:5vh;
    left: 5vw;
}

#competence_h2:nth-child(2) {
    position: absolute;
    top:10vh;
    left: 8vw;

    color:var(--white);  
    text-shadow: -0.5px 0.5px 2px var(--black);
    opacity: 0.30;  
}
#competence_h2:nth-child(3) {
    position: absolute;
    top:15vh;
    left: 11vw;
 
    color:var(--white);  
    text-shadow: -0.5px 0.5px 2px var(--black);
    opacity: 0.20;  
}

#competence_h2:nth-child(4) {
    position: absolute;
    top:20vh;
    left:13vw;
 
    color:var(--white);  
    text-shadow: -0.5px 0.5px 2px var(--black);
    opacity: 0.10;  
}

/* #competence_h2:after{
    content: " Compétences Compétences Compétences Compétences";
    color:var(--white);
    text-shadow: -0.5px 0.5px 2px var(--black);
    opacity: 0.24;
} */


#container_competence{
    position: relative;
    width:fit-content;
    left:15vw;

}

#competence_h3_languages{
    color: var(--purple);
    font-size: 2rem;

    width:fit-content;

    position: relative;

    z-index: 3;

    text-shadow: -1px 1px var(--black);
}

#competence_card {
    border: var(--purple) 4px solid;
    border-radius: var(--radius);
    background-color: var(--white);

    width:30vw;
    /* padding:0.5%; */

    position: relative;


    box-shadow: -10px 10px var(--black);

}
#competence_card li{
    background-color: var(--purple);
}
#container_outils{

    position: relative;
    width:fit-content;
    left: 55vw;
    top:30vh;
}
#competence_h3_outils{
    color: var(--orange);
    font-size: 2rem;

    width:fit-content;

    position: relative;

    z-index: 3;

    text-shadow: -1px 1px var(--black);

}

#outils_card {
    border: var(--orange) 4px solid;
    border-radius: var(--radius);
    background-color: var(--white);

    display:flex;
    flex-direction: row;

    width:fit-content;
    /* padding:0.5%; */

    position: relative;
    /* right:10vw;
    top:38vh; */

    box-shadow: -10px 10px var(--black);
}
#outils_card li{
    background-color: var(--orange);
}

#competence ul {
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: flex-start;
    align-items: center;
    margin:1%;
    margin-top:1%;
}
#competence li{
    color:var(--white);

    border-radius: 10px;

    width: fit-content;

    padding:4%;
    margin:2%;
}


#competence li:hover{
    transform:translateY(-2px) translateX(2px);
    box-shadow: -2px 2px var(--black);
}

/* =================================================== EXPERIENCE */
#experience {
    height: 100vh;
    width:90%;
    margin:auto;
    height: 80vh;
    /* background-color: gold; */

    position:relative;
}
#container_experience{
    /* background-color: red; */
    width: fit-content;

    position: absolute;
    left: 7vw;
    top:15vh;
}

#experience_h2{
    color:var(--black);
    font-size: 3rem;
    width: fit-content;

    position: absolute;
    top:5vh;
    left: 5vw;
}

#experience_h2:nth-child(2) {
    position: absolute;
    top:10vh;
    left: 8vw;

    color:var(--white);  
    text-shadow: -0.5px 0.5px 2px var(--black);
    opacity: 0.30;  
}
#experience_h2:nth-child(3) {
    position: absolute;
    top:15vh;
    left: 11vw;
 
    color:var(--white);  
    text-shadow: -0.5px 0.5px 2px var(--black);
    opacity: 0.20;  
}

#experience_h2:nth-child(4) {
    position: absolute;
    top:20vh;
    left:13vw;
 
    color:var(--white);  
    text-shadow: -0.5px 0.5px 2px var(--black);
    opacity: 0.10;  
}

#stage_1{
    border:solid 10px var(--black);
    background-color: var(--white);
    padding: 1.5%;
    padding-bottom: 2%;

    width:55vw;

    position:relative;
    /* top:15vh;
    left:5vw; */

}

#experience_h3_stage{
    color: var(--black);
    font-size: 2rem;

    width:fit-content;

    position: relative;
    left:3vw;
    top:0vh;
    z-index: 3;

    text-shadow: -1px 1px var(--white);
}

#experience_competence{
    background-color: var(--black);
    color:var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height:fit-content;
    text-align: center;
    padding:1%;

    position: relative;
    bottom:2.5vh;
    left:30vw;
}

#experience_competence:hover{
    transform:translateY(2px) translateX(2px);
    box-shadow: -10px -10px var(--orange);
}

#formation_card{
    background-color: var(--orange);
    color:var(--black);
    width: fit-content;

    padding: 1.5vw;

    position: relative;
    top: 50vh;
    left: 50vw;
}

.formation_info{
    display: flex;
    justify-content: start;
    align-items: start;
    /* width: 50vw; */
}
.formation_info:first-child{
    margin-bottom: 8%;
}
.formation_info_date{
    width:10vw;
    font-size: 1.5rem;
}
.formation_info_date:before{
    content: '✦._';
    color: var(--white)

}


#h2_formation{
    color:var(--black);
    font-size: 3rem;
    width: fit-content;

    position: absolute;
    top:45vh;
    left: 65vw;
}


/* =================================================== PROJETS */
#projets{
    height:75vh;
    width:90%;
    margin:auto;
    height: 80vh;
    margin-bottom: 20vh;;
    background-color: gold;

    position:relative;

}


/* =================================================== FOOTER */
footer {
    border: 2px solid var(--black);
    border-radius: 16px;
    color: var(--black);

    width:90%;
    margin: auto;
    font-size: var(--fontSize);
    padding: 0.8%;
    margin-bottom: 0.5%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
#footer_list {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style: none;
}
#footer_list li{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

